



$f_hellGrau:     rgba(239,239,239,1.0);
$f_Orange:       rgba(255,83,13,1.0);
$f_Weiss_BG:  rgb(249, 249, 249);;
$f_dunkelGrau:   rgba(63,88,102,1.0);
$f_dunkelGrau_trans:   rgba(63,88,102,0.22);
$f_medium_grau: rgba(215,215,215,1.0);

$f_inactive_grau: rgba(206,206,206,1);
$f_invalid_rot: rgba(233,67,83,1);

$f_slider_active: rgba(45, 79, 91, 0.11);
$f_slider_marker: rgba(170,170,170,0.9);


$label_font_size: 16px;
$label_line_height: 20px;


$stufe_img_1 :  "../src/warnstufen_farben/gruen.png";
$stufe_img_2 :  "../src/warnstufen_farben/gelb.png";
$stufe_img_3 :  "../src/warnstufen_farben/orange.png";
$stufe_img_4 :  "../src/warnstufen_farben/dunkel_rot.png";
$stufe_img_5 :  "../src/warnstufen_farben/rot.png";




@mixin transformNone(){
  -webkit-transform: none !important; /* Safari and Chrome */
  -moz-transform: none !important; /* Firefox */
  -ms-transform: none !important; /* IE 9 */
  -o-transform: none !important; /* Opera */
  transform: none !important;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}



@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}


@mixin box-shadow($horzlength, $verticallength, $blurradius, $spreadradius, $color) {
  -webkit-box-shadow: $horzlength $verticallength $blurradius $spreadradius $color;
  -moz-box-shadow: $horzlength $verticallength $blurradius $spreadradius $color;
  box-shadow: $horzlength $verticallength $blurradius $spreadradius $color;
}


@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}



