.button {
  float: left; }

.hideElement {
  display: none; }

.showElement {
  display: block; }

.flexWrapper {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.flex50 {
  position: relative;
  width: 48%;
  margin: 1%; }

.button {
  text-align: center;
  background-color: yellow;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 50px; }

/*# sourceMappingURL=style.css.map */
